body{
background-image: url(img/99.jpg);
}
body nav a{
	background-color: white;
}
body thead{
	background-color: black;
	color: white;
}
body ul{
	background-color: black;
	color: white;
}
body tr{
	background-color:  black;
	color: white;
}
body td{
	background-color:  black;
	color: white;

body h2
}

body h2{
	color: white;
}
body h1{
	color: white;
}
body p{
	color: white;
}
.akuaku{
	font-family: monospace;
	color: peachpuff;
}
.baa{
	color: white;
}
body label{
	color: white;
}

.kaa{
	background-color: transparent;
}
.muehehe{
	font-size: xx-large;
}
.oke{
	color: white;
}
.kak{
	color: black;
}
